.carousel{
    position: relative;
    &__text{
        float: left;
    }
    .title{
        margin-top: 133px;
        width: 548px;
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        line-height: 48px;
    }
    .subtitle{
        margin-top: 20px; 
        width: 528px;
        color: #ffffff;
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;
        span{
            font-weight: 400;
        }
    }
    &__img{
        float: right;
        margin-top: 27px;
    }
    
    .owl-nav{
        margin: 0;
        position: absolute;
        bottom: 18px;
        left: 50%;
        transform: translateX(-50%);
        button.owl-prev{
            margin: 0 50px;
            background: url("../icons/left.svg") no-repeat;
            background-size: 6px 11px;
            background-position: center right;
            width: 56px;
            height: 51px;
            cursor: pointer;
            outline: none;
          }
        button.owl-next{
            margin: 0 50px;
            background: url("../icons/right.svg") no-repeat;
            background-size: 6px 11px;
            background-position: center left;
            width: 56px;
            height: 51px;
            cursor: pointer;
            outline: none;
          }
    }
    .owl-dots{
        width: 85px;
        height: 11px;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        button{
            outline: none;
        }
        .owl-dot{
            span{
                background: none;
                border: 1px solid #fff;
                margin: 5px 3px;
                width: 11px;
                height: 11px;
            }
        }
    }

} 

